fastapi
uvicorn[standard]
python-multipart
pydantic
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
openai
anthropic
pydantic-settings
email-validator
gunicorn
psycopg2-binary
google-auth-library
httpx
